{% extends 'ship/base.html' %}
{% block title %}index{% endblock %}


{% block body %}


    <div class="container-fluid" >
        <h1 align="center"><span class="label label-primary"> INS EILAT  </span></h1>


        {% if ship_in_battle_stations == 'SHIP IN BATTLE STATIONS !' and viewmode != '2' %}
            <h1 align="center"><span class="label label-success"  > {{ ship_in_battle_stations }} </span> </h1>
        {% elif ship_in_battle_stations == 'SHIP NOT IN BATTLE STATIONS ' and viewmode != '2'  %}
           <h1 align="center"><span class="label label-warning"  > {{ ship_in_battle_stations }} </span> </h1>
        {% elif  viewmode == '2'  %}
            <h1 align="center"><span class="label label-danger"  > FIRE FLOOD EMERGENCY </span> </h1>
        {% endif %}
    <br>

       <!-- prototype rectangle version of ship compartments
        <div class="row">
            <div class="col-md-4 col-md-offset-2" style="background-color:gray; border: 2px solid black"><strong><p class="text-center">ENGINE ROOM</p></strong><br><br><strong><p class="text-center">{{ counters.engine }}</p></strong><br></div>
            <div class="col-md-4" style="background-color:gray; border: 2px solid black"><strong><p class="text-center">CIC</p></strong><br><br><strong><p class="text-center">{{ counters.cic }}</p></strong><br></div>
        </div>
        -->

        <div class="ship-container">
            <div class="ship-compartment c1">
                <div class="c1-spacer"></div>
                <div class="c1-content">
                    <div class="label label-primary" id="c1" style="margin: 0 auto; align-self: center;">{{ counters.bow }}</div>
                </div>
                <div class="c1-spacer"></div>
            </div>
            <div class="ship-compartment c2">
                <div class="c2-spacer-top"></div>
                <div class="c2-content">
                    <div class="label label-primary" style="margin: 0 auto; align-self: center;">{{ counters.cic }}</div>
                </div>
                <div class="c2-spacer-bottom"></div>
            </div>
            <div class="ship-compartment c3">
                <div class="c3-spacer"></div>
                <div class="c3-content">
                    <div class="label label-primary" style="margin: 0 auto; align-self: center;">{{ counters.bridge }}</div>
                </div>
                <div class="c3-spacer"></div>
            </div>
            <div class="ship-compartment c4">
                <div class="c4-spacer-top"></div>
                <div class="c4-content">
                    <div class="label label-primary" style="margin: 0 auto; align-self: center;">{{ counters.engine }}</div>
                </div>
                <div class="c4-spacer-bottom"></div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="table-soldiers-container">
        <h1 >MISSING SOLDIERS</h1>
        <table class="table">
            <tr>
                <th style="color: red">First Name</th>
            </tr>
            {% for soldier in missing_soldiers %}
                <tr>
                    <td style="color: red">{{ soldier }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-soldiers-container">
        <h1>BOW SOLDIERS</h1>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Security Clearance</th>
                <th>Lack of Movement</th>
            </tr>
            {% for soldier in present_soldiers.bow %}
                <tr>
                    <td>{{ soldier }}</td>
                {% if soldier in unauthorized_soldiers %}
                    <td style="color: red">unauthorized</td>
                {% else %}
                    <td style="color:green">authorized</td>
                {% endif %}
                {% if soldier in lack_of_movement_soldiers %}
                    <td style="color: red">lack of movement</td>
                {% else %}
                    <td style="color:green">OK</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <br /><br />
    <div class="table-soldiers-container">
        <h1>CIC SOLDIERS</h1>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Security Clearance</th>
                <th>Lack of Movement</th>
            </tr>
            {% for soldier in present_soldiers.cic %}
                <tr>
                    <td>{{ soldier }}</td>
                {% if soldier in unauthorized_soldiers %}
                    <td style="color: red">unauthorized</td>
                {% else %}
                    <td style="color:green">authorized</td>
                {% endif %}
                {% if soldier in lack_of_movement_soldiers %}
                    <td style="color: red">lack of movement</td>
                {% else %}
                    <td style="color:green">OK</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

    <br /><br />
    <div class="table-soldiers-container">
        <h1>BRIDGE SOLDIERS</h1>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Security Clearance</th>
                <th>Lack of Movement</th>
            </tr>
            {% for soldier in present_soldiers.bridge %}
                <tr>
                    <td>{{ soldier }}</td>
                {% if soldier in unauthorized_soldiers %}
                    <td style="color: red">unauthorized</td>
                {% else %}
                    <td style="color:green">authorized</td>
                {% endif %}
                {% if soldier in lack_of_movement_soldiers %}
                    <td style="color: red">lack of movement</td>
                {% else %}
                    <td style="color:green">OK</td>
                {% endif %}
                </tr>
                </tr>
            {% endfor %}
        </table>
    </div>

    <br /><br />
    <div class="table-soldiers-container">
        <h1>ENGINE SOLDIERS</h1>
        <table class="table">
            <tr>
                <th>First Name</th>
                <th>Security Clearance</th>
                <th>Lack of Movement</th>
            </tr>
            {% for soldier in present_soldiers.engine %}
                <tr>
                    <td>{{ soldier }}</td>
                {% if soldier in unauthorized_soldiers %}
                    <td style="color: red">unauthorized</td>
                {% else %}
                    <td style="color:green">authorized</td>
                {% endif %}
                {% if soldier in lack_of_movement_soldiers %}
                    <td style="color: red">lack of movement</td>
                {% else %}
                    <td style="color:green">OK</td>
                {% endif %}
                </tr>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}


    {% comment %}          {% for singlerecord in all_records %}
              {% if singlerecord.compartment == 532 %}
                {{ singlerecord.soldier_name }}
              {% endif %}
          {% endfor %}{% endcomment %}

{#   <h1>Here are all the ship records</h1>#}
{#    <ul>#}
{#        {% for singlerecord in all_records %}#}
{#        <li>{{ singlerecord.tag_string}}, {{singlerecord.time_stamp}}, {{singlerecord.compartment }}</li>#}
{#        {% endfor %}#}
{#    </ul>#}

